form {
    @include animated(1s);
    @extend .fade-in-up;
    font-size: 0;
    position: relative;

    input[type="email"] {
        font-family: $sans;
        font-size: 1.5rem;
        line-height: 2rem;
        width: 100%;
        max-width: 47rem;
        background: rgba(0,0,0,0);
        color: $black;
        border: 2px solid $dark-blue;
        outline: 0;
        padding: 2rem 3rem;
        @include transition(0.2s);
        @include border-box;

        @include placeholder {
            font-family: $sans;
            font-size: 1.5rem;
            line-height: 2rem;
            color: $gray;
        }

        &:focus {
            @include box-shadow;
        }
    }

    button[type="submit"] {
        font-family: $sans;
        font-size: 1.5rem;
        line-height: 2rem;
        text-transform: uppercase;
        background-color: $dark-blue;
        color: $white;
        border: 2px solid $dark-blue;
        padding: 2rem 3rem;
        text-align: center;
        height: 100%;
        outline: 0;
        border-radius: 0;
        cursor: pointer;
        width: 100%;
        @include transition(0.2s);
    }

    .submit-wrapper {
        position: absolute;
        left: 30rem;
        right: 0;
        top: 0;
        bottom: 0;
        @include transition(0.2s);
    }

    &.inline {
        width: 100%;
        max-width: 47rem;
        margin: 0 auto;
        input {
            display: inline-block;
        }
        input[type="email"] {
            border-radius: 0.25rem;
            padding-right: 20rem;
        }
        button[type="submit"] {
            border-top-right-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;

            & > span {
                @include transition(0.2s);
                position: absolute;
                width: 100%;
                top: 50%;
                @include transform(translate(-50%, -50%));
            }
            .btn-success, .btn-hello {
                opacity: 0;
                z-index: 1;
                text-transform: none;
            }
            .btn-pre-reg {
                opacity: 1;
                z-index: 2;
            }
        }
    }


    &.invalid {
        button[type="submit"] {
            background-color: $red;
            border-color: $red;
        }
        input[type="email"] {
            border-color: $red;
        }
    }

    &.success {
        .submit-wrapper {
            left: 0;
        }
        button[type="submit"] {
            border-radius: 0.25rem !important;
            background-color: $pink;
            border-color: $pink;

            .btn-success {
                opacity: 1;
                z-index: 2;
            }
            .btn-pre-reg {
                opacity: 0;
                z-index: 1;
            }
            .btn-hello {
                color: $gray;
            }

            &:hover {
                .btn-success {
                    opacity: 0;
                    z-index: 1;
                }
                .btn-hello {
                    opacity: 1;
                    z-index: 2;
                }
            }
        }
        input[type="email"] {
            border-color: $pink;
        }

    }
}

@media screen and (max-width: $tablet-portrait-max) {
    form.inline {
        height: 12.8rem;
        width: 80%;
        margin: 0 auto;
        input {
            display: block;
            max-width: none;
            text-align: center;
            @include border-box;
        }
        input[type="email"] {
            height: 100%;
            padding-right: 3rem;
            padding-bottom: 8.6rem;
        }
        .submit-wrapper {
            top: 50%;
            left: 0;
            right: 0;
            bottom: 0;
        }
        button[type="submit"] {
            border-top-right-radius: 0rem;
            border-bottom-left-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;
        }
        &.success {
            .submit-wrapper {
                top: 0;
            }
        }

    }
}