form {
    @include animated(1s);
    @extend .fade-in-up;
    font-size: 0;

    input[type="email"], input[type="text"] {
        font-family: $sans;
        font-size: 1.5rem;
        line-height: 2rem;
        width: 100%;
        max-width: 30rem;
        background: rgba(0,0,0,0);
        color: $black;
        border: 2px solid $blue;
        outline: 0;
        padding: 2rem 3rem;
        @include transition(0.2s);

        @include placeholder {
            font-family: $sans;
            font-size: 1.5rem;
            line-height: 2rem;
            color: $off-white;
        }
    }

    input[type="submit"] {
        font-family: $sans;
        font-size: 1.5rem;
        line-height: 2rem;
        text-transform: uppercase;
        background-color: $blue;
        color: $white;
        border: 2px solid $blue;
        padding: 2rem 3rem;
        outline: 0;
        border-radius: 0;
    }

    &.inline {
        input {
            display: inline-block;
        }
        input[type="text"], input[type="email"] {
            border-top-left-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
        }
        input[type="submit"] {
            border-top-right-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;
        }
    }


    &.valid {
        input[type="submit"] {
            background-color: $pink;
            border-color: $pink;
            color: white;
            cursor: pointer;
            &:focus {
                color: $off-white;
            }
        }
    }

    .email-wrapper {
        display: inline-block;
        width: 70%;
        float: left;
        @include border-box;
        padding-right: 0.75rem;
        position: relative;
    }

    .button-wrapper {
        display: inline-block;
        width: 30%;
        float: left;
        @include border-box;
        padding-left: 0.75rem;
    }
}