$row-padding: 1.25rem;

.row {
	display: block;
	position: relative;
	@include clearfix;
	margin: 0 (-$row-padding);

	.half, .forty, .third, .quarter, .sixth {
		padding: 0 $row-padding;
		display: inline-block;
		float: left;
		position: relative;
		@include border-box;
		vertical-align: top;
	}

	.half {
		width: 50%;
	}

	.forty {
		width: 40%;
	}

	.third {
		width: 33.333333333%;
	}

	.quarter {
		width: 25%;
	}

	.sixth {
		width: 20%; /* temp increase */
	}

	&.with-divider:before {
		display: block;
		width: 0;
		position: absolute;
		left: 50%;
		top: 0;
		bottom: 0;
		width: 2px;
		content: " ";
		@include transform(translateX(-50%));
		@include vertical-linear-gradient($blue, $pink);
	}

	&.centered {
		text-align: center;
		font-size: 0;

		.half, .third, .forty, .quarter, .sixth {
			float: none;
		}
	}
}

@media screen and (max-width: $tablet-portrait-max) {
	.row {
		margin: 0;
		.half, .third, .forty {
			padding: 0;
			display: block;
			width: 100%;

			&:not(:first-child) {
				margin-top: 3.125rem;
			}
		}
		.quarter, .sixth {
			width: 50%;
			&:nth-child(n+3) {
				margin-top: 2rem;
			}
		}
		&.with-divider:before {
			display: none;
		}
	}
}