$row-padding: 1.25rem;

.row {
	display: block;
	position: relative;
	@include clearfix;
	margin: 0 (-$row-padding);

	.half, .third, .quarter {
		padding: 0 $row-padding;
		display: inline-block;
		position: relative;
		float: left;
		@include border-box;
	}

	.half {
		width: 50%;
	}

	.third {
		width: 33.333333333%;
	}

	.quarter {
		width: 25%;
	}

	&.with-divider:before {
		display: block;
		width: 0;
		position: absolute;
		left: 50%;
		top: 0;
		bottom: 0;
		width: 2px;
		content: " ";
		@include transform(translateX(-50%));
		@include vertical-linear-gradient($blue, $pink);
	}
}

@media screen and (max-width: $tablet-portrait-max) {
	.row {
		margin: 0;
		.half, .third {
			padding: 0;
			display: block;
			width: 100%;

			&:not(:first-child) {
				margin-top: 3.125rem;
			}
		}
		&.with-divider:before {
			display: none;
		}
	}
}