.schedule {
    .highlighted {
        color: $blue;
    }

    .location {
        color: $medium-gray;
        font-size: 0.8em;
        white-space: nowrap;
    }

    tr td:first-child {
        width: 10rem;
    }
}