table {
	vertical-align: middle;
	width: 100%;
	&:first-of-type {
		margin-bottom: 1.25rem;
	}

	thead td {
		border-bottom: 2px solid $white;
	}
	thead, tbody {
		margin: 1.25rem 0;
		@include border-box;

		tr {
			td, th {
				font-size: 1.5rem;
				line-height: 2.25rem;
				padding: 0.625rem 0;
			}
			&:last-child {
				td {
					padding-bottom: 1.25rem;
				}
			}
		}
	}
	tbody tr:first-child {
		td {
			padding-top: 1.25rem;
		}
	}
	thead tr:first-child {
		td {
			padding-top: 0;
		}
	}
}