$bold: 700;
$medium: 500;
$regular: 400;

@font-face {
	font-family: 'DINPro';
	font-weight: $bold;
	src: url("../../font/DINPro-Bold.otf") format("opentype");
}
@font-face {
	font-family: 'DINPro';
	font-weight: $medium;
	src: url("../../font/DINPro-Medium.otf") format("opentype");
}
@font-face {
	font-family: 'DINPro';
	font-weight: $regular;
	src: url("../../font/DINPro-Regular.otf") format("opentype");
}

$sans: 'DINPro', 'Helvetica', sans-serif;


body {
    font-family: $sans;
    font-size: 13px;
    line-height: 1.5;
}


h1, .h1, h2, .h2, h3, .h3, h4, .h4, h6, .h6, p, .p {
    margin: 0;
    padding: 0;
}

p, .p {
    font-size: 1.5rem;
}

h1, .h1 {
    font-weight: $bold;
    font-size: 4rem;
    margin: 0 0 1.25rem;
}

h2, .h2 {
    font-weight: $bold;
    font-size: 3rem;
    text-transform: uppercase;
}

h3, .h3 {
    font-weight: $regular;
    font-size: 2rem;
    margin-bottom: 0;
}

h4, .h4 {
    font-weight: $medium;
    font-size: 1.5rem;
}

h6, .h6 {
    font-weight: $regular;
    font-size: 1rem;
}

@media screen and (max-width: $phone-max) {
	h1 {
		font-size: 3.5rem;
	}
	h2 {
		font-size: 2rem;
	}
}
