$bold: 700;
$medium: 500;
$regular: 400;

@font-face {
	font-family: 'DINPro';
	font-weight: $bold;
	src: url("../../font/DINPro-Bold.otf") format("opentype");
}
@font-face {
	font-family: 'DINPro';
	font-weight: $medium;
	src: url("../../font/DINPro-Medium.otf") format("opentype");
}
@font-face {
	font-family: 'DINPro';
	font-weight: $regular;
	src: url("../../font/DINPro-Regular.otf") format("opentype");
}

$sans: 'DINPro', 'Helvetica', sans-serif;

p, .p {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin: 0;
    padding: 0;
}

h1, .h1 {
    font-family: $sans;
    font-weight: $bold;
    font-size: 4rem;
    line-height: 5.75rem;
    margin: 0 0 1.25rem;
    padding: 0;
}

h2, .h2 {
    font-family: $sans;
    font-weight: $bold;
    font-size: 3rem;
    line-height: 3.875rem;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

h3, .h3 {
    font-family: $sans;
    font-weight: $regular;
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 0;
    padding: 0;
}

h4, .h4 {
    font-family: $sans;
    font-weight: $medium;
    line-height: 1.875rem;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: $phone-max) {
	h1 {
		font-size: 3.5rem;
		line-height: 4rem;
	}
	h2 {
		font-size: 2rem;
		line-height: 3rem;
	}
}
