/*************************************************
 * utils.scss - Dan Schlosser <dan@schlosser.io> *
 *                                               *
 * Useful mixins and classes for use everywhere. *
 *************************************************/

@import 'media_queries';
@import 'colors';

@mixin clearfix {
    &:after {
        content: " "; /* Older browser do not support empty content */
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }
}

.hidden {
    display: none !important;
}

@mixin background-linear-gradient($from, $to) {
    background-color: $from; /* fallback */
    background-image: -webkit-linear-gradient(left, $from, $to);
    background-image: linear-gradient(to right, $from, $to);
}

@mixin border-linear-gradient($width, $from, $to) {
    border: $width solid transparent;
    -moz-border-image: -moz-linear-gradient(left, $from 0%, $to 100%);
    -webkit-border-image: -webkit-linear-gradient(left, $from 0%, $to 100%);
    border-image: linear-gradient(to right, $from 0%, $to 100%);
    border-image-slice: 1;
}

@mixin vertical-linear-gradient($from, $to) {
    background-color: $from; /* fallback */
    background-image: -webkit-linear-gradient(top, $from, $to);
    background-image: linear-gradient(to bottom, $from, $to);
}


@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

@mixin transform($rule) {
    -webkit-transform: $rule;
       -moz-transform: $rule;
         -o-transform: $rule;
            transform: $rule;
}

@mixin transition($speed, $delay: 0s, $function: ease, $props: all) {
    -webkit-transition: $speed $delay $function $props;
       -moz-transition: $speed $delay $function $props;
         -o-transition: $speed $delay $function $props;
            transition: $speed $delay $function $props;
}

@mixin border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin justify-content($justify) {
    -webkit-justify-content: $justify;
    justify-content: $justify;
}

@mixin flex {
    display: -webkit-flex;
    display: flex;
}

.only-mobile { display: none; }
@media only screen and (max-width: $phone-max) {
    .only-mobile { display: initial; }
    .no-mobile { display: none; }
}
