@import 'media_queries';
@import 'colors';
@import 'typography';
@import 'utils';
@import 'animations';
@import 'grid';
@import 'base';
@import 'forms';
@import 'tables';

$content-width: 72rem;

section, footer {
    padding: 5rem 0;

    &.dark {
        background-color: $black;
        color: $white;
    }
}

header {
    @include background-linear-gradient($blue, $pink);
    padding-top: 2rem;

    img {
        display: block;
        width: 100%;
    }
}

nav {
    ul {
        @include flex;
        @include justify-content(space-around);
        @include transition(0.2s);
        margin-top: -1.875rem;
        padding: 2rem 2.5rem;

        li {
            @extend .h4;
            a {
                text-decoration: none;
            }
        }
    }
}

.hero {
    h1 {
        text-align: center;
        margin-bottom: 1.25rem;
    }
    h3 {
        text-align: center;
        margin-bottom: 2.5rem;
    }
}

#register {
    padding-bottom: 0;
    padding-top: 2.5rem;
}

.content, hr {
    max-width: $content-width;
    width: 95%;
    margin: 0 auto;
}

.gradient-box {
    @include border-linear-gradient(2px, $blue, $pink, 4px);
    position: relative;
    border-radius: 20px;
}

.box {
    border: 2px solid $off-white;
    & + .box {
        margin-top: 3.75rem !important;
    }
}

.gradient-box, .box {
    border-radius: 4px;
    &.for-image {
        padding: 1.25rem;
        margin-bottom: 5rem;
    }
    &.for-text {
        padding: 2.25rem;
        margin: 0 3.125rem;
    }
    &.centered {
        text-align: center;
    }
}

.over-image {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 60%;
    @include transform(translate(-50%, -50%));
    color: $white;
    text-shadow: 0 0 2.25rem $black;
}

.contact {
    width: 20rem;
    margin: 0 auto !important;
}

.faq {
    h4 {
        padding-bottom: 1rem;
        border-bottom: 2px solid $black;
        margin-bottom: 1rem;
    }
}

.section-header {
    text-align: center;
    position: relative;
    @include clearfix;

    & > * {
        margin-bottom: 5rem;
        display: inline-block;
        position: relative;
        &:before {
            content: " ";
            width: 0.5rem;
            height: 0.5rem;
            position: absolute;
            top: 50%;
            left: -3.5rem;
            @include transition(translateY(-50%));
            background-color: $pink;
        }
        &:after {
            content: " ";
            width: 0.375rem;
            height: 0;
            border-right: 0.25rem transparent solid;
            border-bottom: 0.5rem $pink solid;
            position: absolute;
            top: 50%;
            right: -3.5rem;
            @include transition(translateY(-50%));
        }
    }
}

.dark .section-header > * {
    &:before {
        background-color: $blue;
    }
    &:after {
        border-bottom-color: $blue;
    }
}

.sponsors {
    margin-bottom: 5rem;
    img {
        display: block;
        margin: 0 auto;
        height: 4rem;
    }
}

$team-padding: 1.25rem;

.team {
    display: block;
    position: relative;
    margin-left: (-$team-padding);
    @include clearfix;
    margin: (-$team-padding) 0 2.5rem;

    .person-wrapper {
        width: 16.666666667%;
        padding-bottom: 16.666666667%;
        display: inline-block;
        position: relative;
        float: left;
        @include border-box;
        z-index: 1;

        .person {
            padding: $team-padding;
            position: absolute;
            background-color: $white;
            border: 2px solid rgba(0,0,0,0);
            left: 4px;
            right: 4px;
            top: 0;
            @include border-box;
            text-align: center;
            z-index: 1;
            @include border-linear-gradient(2px, $white, $white, 4px);

            &:after, &:before {
                background-color: $white;
            }

            .name, .title {
                display: none;
            }

            img {
                border-radius: 50%;
                z-index: 1;
                position: relative;
            }
        }

        &:hover {
            overflow: visible;
            z-index: 2;
            .person {
                border-radius: 4px;
                @include box-shadow;
                @include border-linear-gradient(2px, $blue, $pink, 4px);
                .name, .title {
                    display: block;
                }
            }
        }
    }
}

footer {
    background-color: $black;
    color: $white;
    a, a:hover {
        text-decoration: none;
    }

    .content {
        @include clearfix;
    }

    img {
        max-width: 15rem;
        float: left;
    }

    ul {
        float: right;
        li {
            @extend .p;
            display: inline-block;
            padding: 0.5rem 1.25rem;
        }
    }
}

@media screen and (max-width: $tablet-portrait-max) {
    section .section-header > * {
        max-width: 80%;
        &:before {
            left: -2rem;
        }
        &:after {
            right: -2rem;
        }
    }

    p {
        max-width: 90%;
        margin: 0 auto;
    }

    .box, .gradient-box {
        &.for-text {
            max-width: 80%;
            margin: 0 2rem;
        }
    }

    footer {
        img {
            width: 80%;
            display: block;
            margin: 0 auto 2rem;
            max-width: none;
            float: none;
        }
        ul {
            text-align: center;
            display: block;
            float: none;
            width: 100%;
        }
    }

    .team .person-wrapper {
        width: 25%;
        padding-bottom: 25%;
    }

    nav {
        margin-bottom: -1.25rem;
    }
}

@media screen and (max-width: $phone-max) {
    .team .person-wrapper {
        width: 33.333333333%;
        padding-bottom: 33.333333333%;
    }
}


