/* Colors */
$black: #222222;
$white: white;
$off-white: rgba(255, 255, 255, 0.65);
$blue: #00ffff;
$pink: #ff7bac;

/* Typography */
$sans: 'Helvetica', sans-serif;

/* Mixins */
@mixin clearfix {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.clearfix:after {
    @include clearfix;
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

@mixin transform($rule) {
    -webkit-transform: $rule;
       -moz-transform: $rule;
         -o-transform: $rule;
            transform: $rule;
}

@mixin transition($speed, $delay: 0s, $function: ease, $props: all) {
    -webkit-transition: $speed $delay $function $props;
       -moz-transition: $speed $delay $function $props;
         -o-transition: $speed $delay $function $props;
            transition: $speed $delay $function $props;
}

@mixin border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Animations */
@mixin animated($duration) {
    -webkit-animation-duration: $duration;
    animation-duration: $duration;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@mixin -fade-in-up {
    0% {
        opacity: 0;
        @include transform(translateY(1rem));
    }
    100% {
        opacity: 1;
        @include transform(translateY(0));
    }
}

@-webkit-keyframes fade-in-up {
    @include -fade-in-up();
}

@keyframes fade-in-up {
    @include -fade-in-up();
}

.fade-in-up {

    -webkit-animation-name: fade-in-up;
    animation-name: fade-in-up;
}

/* Styles */
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: $sans;
    font-size: 15px;
    background-color: $black;
}
p {
    font-size: 1.5rem;
    line-height: 2rem;
}
h1 {
    font-weight: 300;
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

h2 {
    font-weight: 300;
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

h3 {
    font-weight: 300;
    line-height: 6rem;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
}

h4 {
    font-weight: 300;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

.hero-content {
    @include transform(translate(-50%, -50%));
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95%;
    max-width: 30rem;

    .logo {
        margin-bottom: 2rem;
    }
}

form {
    @include animated(1s);
    @extend .fade-in-up;
    input[type="email"], input[type="text"] {
        border: 1px solid $off-white;
        @include transition(0.2s);
        outline: 0;
        background: rgba(0,0,0,0);
        color: $off-white;
        padding: 1rem 1.5rem;
        font-size: 1rem;
        width: 100%;
        @include border-box;

        @include placeholder {
            font-family: $sans;
            color: $off-white;
        }

        &:focus {
            border: 1px solid $white;
            color: $white;
            outline: 0;
            @include placeholder {
                color: $off-white;
            }
        }
    }

    input[type="submit"] {
        background-color: $off-white;
        padding: 1rem 1.5rem;
        border: 1px solid $off-white;
        font-size: 1rem;
        outline: 0;
        border-radius: 0;
        width: 100%;
    }

    .email-wrapper {
        display: inline-block;
        width: 70%;
        float: left;
        @include border-box;
        padding-right: 0.75rem;
    }

    .button-wrapper {
        display: inline-block;
        width: 30%;
        float: left;
        @include border-box;
        padding-left: 0.75rem;
    }
}
