@font-face {
  font-family: 'DINPro';
  font-weight: 700;
  src: url("../../font/DINPro-Bold.otf") format("opentype"); }

@font-face {
  font-family: 'DINPro';
  font-weight: 500;
  src: url("../../font/DINPro-Medium.otf") format("opentype"); }

@font-face {
  font-family: 'DINPro';
  font-weight: 400;
  src: url("../../font/DINPro-Regular.otf") format("opentype"); }

body {
  font-family: "DINPro", "Helvetica", sans-serif;
  font-size: 13px;
  line-height: 1.5; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, nav ul li, h6, .h6, p, .p, footer ul li {
  margin: 0;
  padding: 0; }

p, .p, footer ul li {
  font-size: 1.5rem; }

h1, .h1 {
  font-weight: 700;
  font-size: 4rem;
  margin: 0 0 1.25rem; }

h2, .h2 {
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase; }

h3, .h3 {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 0; }

h4, .h4, nav ul li {
  font-weight: 500;
  font-size: 1.5rem; }

h6, .h6 {
  font-weight: 400;
  font-size: .875rem; }

@media screen and (max-width: 640px) {
  h1 {
    font-size: 3.5rem; }
  h2 {
    font-size: 2rem; } }

.hidden {
  display: none !important; }

.only-mobile {
  display: none; }

@media only screen and (max-width: 640px) {
  .only-mobile {
    display: initial; }
  .no-mobile {
    display: none; } }

/* Animations */
@-webkit-keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -o-transform: translateY(1rem);
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -o-transform: translateY(1rem);
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

.fade-in-up, form {
  -webkit-animation-name: fade-in-up;
  animation-name: fade-in-up; }

.row {
  display: block;
  position: relative;
  margin: 0 -1.25rem; }
  .row:after {
    content: " ";
    /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }
  .row .half, .row .third, .row .quarter {
    padding: 0 1.25rem;
    display: inline-block;
    position: relative;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .row .half {
    width: 50%; }
  .row .third {
    width: 33.333333333%; }
  .row .quarter {
    width: 25%; }
  .row.with-divider:before {
    display: block;
    width: 0;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    content: " ";
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #00ffff;
    /* fallback */
    background-image: -webkit-linear-gradient(top, #00ffff, #ff7bac);
    background-image: linear-gradient(to bottom, #00ffff, #ff7bac); }

@media screen and (max-width: 768px) {
  .row {
    margin: 0; }
    .row .half, .row .third {
      padding: 0;
      display: block;
      width: 100%; }
      .row .half:not(:first-child), .row .third:not(:first-child) {
        margin-top: 3.125rem; }
    .row .quarter {
      width: 50%; }
      .row .quarter:nth-child(n+3) {
        margin-top: 2rem; }
    .row.with-divider:before {
      display: none; } }

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 13px; }
  body ::selection, html ::selection {
    background: #00ffff; }
  body ::-moz-selection, html ::-moz-selection {
    background: #00ffff; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

img {
  max-width: 100%; }

a {
  color: inherit;
  color: inherit;
  transition: color, 0.15s; }
  a:hover {
    color: #ff7bac; }

hr {
  height: 2px;
  width: 100%;
  border: 0;
  background-color: #00ffff;
  /* fallback */
  background-image: -webkit-linear-gradient(left, #00ffff, #ff7bac);
  background-image: linear-gradient(to right, #00ffff, #ff7bac); }

@media screen and (min-width: 1441px) {
  body, html {
    font-size: 16px; } }

@media screen and (max-width: 1024px) {
  body, html {
    font-size: 12px; } }

@media screen and (max-width: 768px) {
  body, html {
    font-size: 11px; } }

@media screen and (max-width: 640px) {
  body, html {
    font-size: 10px; } }

form {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  font-size: 0;
  position: relative; }
  form input[type="email"] {
    font-family: "DINPro", "Helvetica", sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    width: 100%;
    max-width: 47rem;
    background: transparent;
    color: #111111;
    border: 2px solid #00F2F2;
    outline: 0;
    padding: 2rem 3rem;
    -webkit-transition: 0.2s 0s ease all;
    -moz-transition: 0.2s 0s ease all;
    -o-transition: 0.2s 0s ease all;
    transition: 0.2s 0s ease all;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    form input[type="email"]::-webkit-input-placeholder {
      font-family: "DINPro", "Helvetica", sans-serif;
      font-size: 1.5rem;
      line-height: 2rem;
      color: rgba(0, 0, 0, 0.35); }
    form input[type="email"]:-moz-placeholder {
      font-family: "DINPro", "Helvetica", sans-serif;
      font-size: 1.5rem;
      line-height: 2rem;
      color: rgba(0, 0, 0, 0.35); }
    form input[type="email"]::-moz-placeholder {
      font-family: "DINPro", "Helvetica", sans-serif;
      font-size: 1.5rem;
      line-height: 2rem;
      color: rgba(0, 0, 0, 0.35); }
    form input[type="email"]:-ms-input-placeholder {
      font-family: "DINPro", "Helvetica", sans-serif;
      font-size: 1.5rem;
      line-height: 2rem;
      color: rgba(0, 0, 0, 0.35); }
    form input[type="email"]:focus {
      -webkit-box-shadow: 0 0 0.5rem 0 rgba(17, 17, 17, 0.2);
      box-shadow: 0 0 1rem 0 rgba(17, 17, 17, 0.2); }
  form button[type="submit"] {
    font-family: "DINPro", "Helvetica", sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    text-transform: uppercase;
    background-color: #00F2F2;
    color: #ffffff;
    border: 2px solid #00F2F2;
    padding: 2rem 3rem;
    text-align: center;
    height: 100%;
    outline: 0;
    border-radius: 0;
    cursor: pointer;
    width: 100%;
    font-weight: 500;
    -webkit-transition: 0.2s 0s ease all;
    -moz-transition: 0.2s 0s ease all;
    -o-transition: 0.2s 0s ease all;
    transition: 0.2s 0s ease all; }
  form .submit-wrapper {
    position: absolute;
    left: 30rem;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: 0.2s 0s ease all;
    -moz-transition: 0.2s 0s ease all;
    -o-transition: 0.2s 0s ease all;
    transition: 0.2s 0s ease all; }
  form.inline {
    width: 100%;
    max-width: 47rem;
    margin: 0 auto; }
    form.inline input {
      display: inline-block; }
    form.inline input[type="email"] {
      padding-right: 20rem; }
    form.inline button[type="submit"] > span {
      -webkit-transition: 0.2s 0s ease all;
      -moz-transition: 0.2s 0s ease all;
      -o-transition: 0.2s 0s ease all;
      transition: 0.2s 0s ease all;
      position: absolute;
      width: 100%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    form.inline button[type="submit"] .btn-success, form.inline button[type="submit"] .btn-hello {
      opacity: 0;
      z-index: 1;
      text-transform: none; }
    form.inline button[type="submit"] .btn-pre-reg {
      opacity: 1;
      z-index: 2; }
  form.invalid button[type="submit"] {
    background-color: #ff4040;
    border-color: #ff4040; }
  form.invalid input[type="email"] {
    border-color: #ff4040; }
  form.success .submit-wrapper {
    left: 0; }
  form.success button[type="submit"] {
    background-color: #ff7bac;
    border-color: #ff7bac; }
    form.success button[type="submit"] .btn-success {
      opacity: 1;
      z-index: 2; }
    form.success button[type="submit"] .btn-pre-reg {
      opacity: 0;
      z-index: 1; }
    form.success button[type="submit"] .btn-hello {
      color: rgba(0, 0, 0, 0.35); }
    form.success button[type="submit"]:hover .btn-success {
      opacity: 0;
      z-index: 1; }
    form.success button[type="submit"]:hover .btn-hello {
      opacity: 1;
      z-index: 2; }
  form.success input[type="email"] {
    border-color: #ff7bac; }

@media screen and (max-width: 768px) {
  form.inline {
    height: 12.8rem;
    width: 80%;
    margin: 0 auto; }
    form.inline input {
      display: block;
      max-width: none;
      text-align: center;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    form.inline input[type="email"] {
      height: 100%;
      padding-right: 3rem;
      padding-bottom: 8.6rem; }
    form.inline .submit-wrapper {
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0; }
    form.inline.success .submit-wrapper {
      top: 0; } }

table {
  vertical-align: middle;
  width: 100%; }
  table:first-of-type {
    margin-bottom: 1.25rem; }
  table thead td {
    border-bottom: 2px solid #ffffff; }
  table thead, table tbody {
    margin: 1.25rem 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    table thead tr td, table thead tr th, table tbody tr td, table tbody tr th {
      font-size: 1.5rem;
      line-height: 2.25rem;
      padding: 0.625rem 0; }
    table thead tr:last-child td, table tbody tr:last-child td {
      padding-bottom: 1.25rem; }
  table tbody tr:first-child td {
    padding-top: 1.25rem; }
  table thead tr:first-child td {
    padding-top: 0; }

@media screen and (max-width: 768px) {
  table {
    padding: 0 2rem; } }

img {
  display: block; }

section, footer {
  padding: 5rem 0; }
  section.dark, footer.dark {
    background-color: #111111;
    color: #ffffff; }

.content, hr {
  max-width: 60rem;
  width: 90%;
  margin: 0 auto; }
  @media screen and (min-width: 1025px) {
    .content, hr {
      max-width: 64rem; } }
  @media screen and (max-width: 1441px) {
    .content, hr {
      max-width: 72rem; } }

header {
  background-color: #00ffff;
  /* fallback */
  background-image: -webkit-linear-gradient(left, #00ffff, #ff7bac);
  background-image: linear-gradient(to right, #00ffff, #ff7bac);
  padding-top: 2rem; }
  header img {
    width: 100%;
    transform: translateY(1px); }

nav ul {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-transition: 0.15s 0s ease all;
  -moz-transition: 0.15s 0s ease all;
  -o-transition: 0.15s 0s ease all;
  transition: 0.15s 0s ease all;
  margin-top: -2rem;
  padding: 2rem 2.5rem; }
  nav ul li a {
    text-decoration: none; }

.hero h1 {
  text-align: center;
  margin-bottom: 1.25rem; }

.hero h3 {
  text-align: center;
  margin-bottom: 2.5rem; }

#register {
  padding-bottom: 0;
  padding-top: 2.5rem; }

.gradient-box {
  border: 2px solid transparent;
  -moz-border-image: -moz-linear-gradient(left, #00ffff 0%, #ff7bac 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #00ffff 0%, #ff7bac 100%);
  border-image: linear-gradient(to right, #00ffff 0%, #ff7bac 100%);
  border-image-slice: 1;
  position: relative; }

.box {
  border: 2px solid rgba(0, 0, 0, 0.1); }
  .box + .box {
    margin-top: 3.75rem !important; }

.gradient-box.for-image, .box.for-image {
  padding: 1.25rem;
  margin-bottom: 5rem; }

.gradient-box.for-text, .box.for-text {
  padding: 2.25rem;
  margin: 0 3.125rem; }
  .gradient-box.for-text p:not(:first-child), .box.for-text p:not(:first-child) {
    margin-top: 2rem; }

.gradient-box.centered, .box.centered {
  text-align: center; }

.over-image {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 60%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-shadow: 0 0 2.25rem #111111; }

.contact {
  width: 20rem;
  margin: 0 auto !important; }

.faq h4 {
  padding-bottom: 1rem;
  border-bottom: 2px solid #111111;
  margin-bottom: 1rem; }

.section-header {
  text-align: center;
  position: relative; }
  .section-header:after {
    content: " ";
    /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }
  .section-header > * {
    margin-bottom: 5rem;
    display: inline-block;
    position: relative; }
    .section-header > *:before {
      content: " ";
      width: 0.5rem;
      height: 0.5rem;
      position: absolute;
      top: 50%;
      left: -3.5rem;
      -webkit-transition: translateY(-50%) 0s ease all;
      -moz-transition: translateY(-50%) 0s ease all;
      -o-transition: translateY(-50%) 0s ease all;
      transition: translateY(-50%) 0s ease all;
      background-color: #ff7bac; }
    .section-header > *:after {
      content: " ";
      width: 0.375rem;
      height: 0;
      border-right: 0.25rem transparent solid;
      border-bottom: 0.5rem #ff7bac solid;
      position: absolute;
      top: 50%;
      right: -3.5rem;
      -webkit-transition: translateY(-50%) 0s ease all;
      -moz-transition: translateY(-50%) 0s ease all;
      -o-transition: translateY(-50%) 0s ease all;
      transition: translateY(-50%) 0s ease all; }

.dark .section-header > *:before {
  background-color: #00ffff; }

.dark .section-header > *:after {
  border-bottom-color: #00ffff; }

.sponsors {
  margin-bottom: 5rem; }
  .sponsors img {
    margin: 0 auto;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: 0.15s 0s ease all;
    -moz-transition: 0.15s 0s ease all;
    -o-transition: 0.15s 0s ease all;
    transition: 0.15s 0s ease all; }
    .sponsors img:hover {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }

.team {
  display: block;
  position: relative;
  margin-left: -1.5rem;
  margin: -1.5rem 0 2.5rem; }
  .team:after {
    content: " ";
    /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }
  .team a {
    color: #111111; }
  .team .person-wrapper {
    width: 16.666666667%;
    padding-bottom: 16.666666667%;
    display: inline-block;
    position: relative;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: 0.15s 0s ease transform;
    -moz-transition: 0.15s 0s ease transform;
    -o-transition: 0.15s 0s ease transform;
    transition: 0.15s 0s ease transform; }
    .team .person-wrapper .person {
      padding: 1.5rem;
      position: absolute;
      background-color: #ffffff;
      border: 2px solid transparent;
      left: 4px;
      right: 4px;
      top: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      text-align: center;
      z-index: 1;
      border: 2px solid transparent;
      -moz-border-image: -moz-linear-gradient(left, #ffffff 0%, #ffffff 100%);
      -webkit-border-image: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 100%);
      border-image: linear-gradient(to right, #ffffff 0%, #ffffff 100%);
      border-image-slice: 1; }
      .team .person-wrapper .person:after, .team .person-wrapper .person:before {
        background-color: #ffffff; }
      .team .person-wrapper .person .name, .team .person-wrapper .person .title {
        display: none; }
      .team .person-wrapper .person img {
        border-radius: 50%;
        z-index: 1;
        position: relative;
        margin-bottom: .375rem; }
    .team .person-wrapper:hover {
      transform: scale(1);
      overflow: visible;
      z-index: 2; }
      .team .person-wrapper:hover .person {
        -webkit-box-shadow: 0 0 0.5rem 0 rgba(17, 17, 17, 0.2);
        box-shadow: 0 0 1rem 0 rgba(17, 17, 17, 0.2);
        border: 2px solid transparent;
        -moz-border-image: -moz-linear-gradient(left, #00ffff 0%, #ff7bac 100%);
        -webkit-border-image: -webkit-linear-gradient(left, #00ffff 0%, #ff7bac 100%);
        border-image: linear-gradient(to right, #00ffff 0%, #ff7bac 100%);
        border-image-slice: 1; }
        .team .person-wrapper:hover .person .name, .team .person-wrapper:hover .person .title {
          display: block; }

footer {
  background-color: #111111;
  color: #ffffff; }
  footer a, footer a:hover {
    text-decoration: none; }
  footer .content:after {
    content: " ";
    /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both; }
  footer img {
    max-width: 15rem;
    float: left; }
  footer ul {
    float: right; }
    footer ul li {
      display: inline-block;
      padding: 0.5rem 1.25rem; }

@media screen and (max-width: 768px) {
  section .section-header > * {
    max-width: 80%; }
    section .section-header > *:before {
      left: -2rem; }
    section .section-header > *:after {
      right: -2rem; }
  .box.for-text, .gradient-box.for-text {
    max-width: 80%;
    margin: 0 2rem; }
  footer img {
    width: 80%;
    display: block;
    margin: 0 auto 2rem;
    max-width: none;
    float: none; }
  footer ul {
    text-align: center;
    display: block;
    float: none;
    width: 100%; }
  .team .person-wrapper {
    width: 25%;
    padding-bottom: 25%; }
  nav {
    margin-bottom: -1.25rem; } }

@media screen and (max-width: 640px) {
  .team .person-wrapper {
    width: 33.333333333%;
    padding-bottom: 33.333333333%; } }
